body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    position: relative;
    max-width: 1180px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 75px;
    box-sizing: border-box;
}

.header {
    padding: 35px 0;
}

.section {
    margin-bottom: 120px;
}

.section__title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 1.18;
}

.header__row {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.inner {
    font-size: 0;
}

.logo {
    margin-right: auto;
}

.search {
    width: 295px;
    height: 48px;
    margin-right: 20px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #f9f9fb;
    border: 1px solid #c7d2e9;
    border-radius: 26px;
}

.user {
    height: 46px;
    margin-left: 45px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.langs {
    font-size: 0;
}

.lang {
    padding: 13px 18px;
    font-size: 22px;
    color: #000000;
    background-color: #c7d2e9;
    border-radius: 4px;
}

.lang + .lang {
    margin-left: 8px;
}

.menu {
    font-size: 0;
}

.menu__item {
    display: inline-block;
    font-size: 18px;
    line-height: 1.16;
}

.menu__item {
    text-decoration: none;
    color: #000000;
}

.menu__item + .menu__item {
    margin-left: 40px;
}


.btn {
    font-family: 'Roboto', 'Arial', sans-serif;
    border: none;
    cursor: pointer;
}

.slider__btn {
    padding: 8px 40px;
    font-size: 22px;
    line-height: 1.18;
    color: #ffffff;
    background-color: #5d16d5;
    border-radius: 8px;
}

.slider__btn + .slider__btn {
    margin-left: 35px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid__item {
    width: calc((100% - 90px) / 3);
    margin-bottom: 70px;
}

.grid__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.slider {
    position: relative;
    margin-bottom: 50px;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
}

.slider__arrow_prev {
    left: -80px;
}

.slider__arrow_next {
    right: -80px;
}

.slide {
    display: none;
}

.slide_active {
    display: block;
}

.tabs__list {
    margin-bottom: 45px;
    font-size: 0;
}

.tab {
    padding: 15px 35px;
    font-size: 22px;
    line-height: 1.18;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.tab.tab_active {
    background-color: #c7d2e9;
}

.tab + .tab {
    margin-left: 40px;
}

.card__img {
    max-width: 100%;
    margin-bottom: 25px;
}

.card__title {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.15;
}

.card__title.card__title_uppercase {
    text-transform: uppercase;
}

.card__text {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.18;
}

.card__link {
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}

.text {
    max-width: 60%;
}

.text + .text {
    margin-top: 20px;
}

.footer {
    padding: 75px 0 95px;
    background-color: #f1f1f1;
}

.footer__container {
    display: flex;
}

.footer__col {
    width: 50%;
}

.footer__title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.16;
}

.info__list {
    margin-bottom: 40px;
}

.info__item + .info__item {
    margin-top: 15px;
}

.info__item a {
    color: #000000;
}

.social__list {
    display: flex;
}

.social__item + .social__item {
    margin-left: 25px;
}

.social__item img {
    width: 40px;
    height: 40px;
}

.form__row {
    position: relative;
}

.form__row + .form__row {
    margin-top: 15px;
}

.form__row_flex {
    display: flex;
}

.label {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .3s ease, transform .3s ease;
}

.input {
    flex-grow: 1;
    padding: 10px 0;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.input:focus + .label {
    opacity: 1;
    transform: translateY(-200%);
}

.input:focus::-webkit-input-placeholder {
    color:transparent;
}
.input:focus:-moz-placeholder {
    color:transparent;
}
.input:focus::-moz-placeholder {
    color:transparent;
}
.input:focus:-ms-input-placeholder {
    color:transparent;
}

.submit {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #ffffff;
    background-color: #5d16d5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}